.Sidebar {
    padding: 5em 3em;
    display: flex;
    width: max-content;
    position: relative;
    background-color: #382d45;
    height: 100vh;

    .Sidebar-Tabs {
        width: 8vw;
    }

    .Sidebar-link {
        padding: 0.5em 1em;
        text-decoration-line: none;
        width: 100%;
        margin: 0.5em auto;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        color: #d3cca8;
        &.active {
            color: #382d45;
            background: #d3cca8;
            border-radius: 3px;
        }
    }

}