.Sidebar {
    padding: 4em 3em;
    display: flex;
    width: max-content;
    position: relative;
    background-color: map-get($theme-colors, dark);;
    height: 100vh;

    .Sidebar-Tabs {
        margin-top: -10%;
        width: 8vw;
    }

    .logo {
        width: 8vw;
        margin-left: auto;
        margin-right: auto;
    }

    .Sidebar-link {
        padding: 0.5em 1em;
        text-decoration-line: none;
        width: 100%;
        margin: 0.5em auto;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        color: map-get($theme-colors, light);;
        &.active {
            color: map-get($theme-colors, dark);;
            background: map-get($theme-colors, light);;
            border-radius: 3px;
        }
    }

}