.Sidebar {
    padding: 5em 3em;
    display: flex;
    width: max-content;
    position: relative;


    .Sidebar-link {
        padding: 0.5em 1em;
        text-decoration-line: none;
        width: 100%;
        margin: 0.5em auto;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        &.active {
            color: blue;
            background: grey;
            border-radius: 3px;
        }
    }

}