.Polygons {
    background-color: map-get($theme-colors, light2);
    width: 100%;

    .PolygonsTitle1 {
        margin-top: 2%;
        font-size: 2vw;
        //background-color: map-get($theme-colors, dark);
        color: map-get($theme-colors, light3);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .PolygonsInstructionsTitle {
        text-align: left;
        margin-left: 1%;
        //background-color: map-get($theme-colors, dark);
        color: map-get($theme-colors, light3);
        width: fit-content;
    }

    .PolygonsInstructions {
        text-align: left;
        margin-left: 1%;
        color: map-get($theme-colors, light3);
    }
}