.Sensors {
    background-color: map-get($theme-colors, light);
    width: 100%;
    
    .SensorsTitle1 {
        margin-top: 2%;
        font-size: 2vw;
        margin-bottom: 2%;
    }

    .SensorsDataRow {
        display: flex;
        flex-direction: row;
    }

    SensorsDataCol {
        display: flex;
        flex-direction: column;
    }

    .SensorContainer {
        height: 40vh;
        width: 48%;
        border: 3px solid map-get($theme-colors, dark);
        border-radius: 5%;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
    }

    .co2chart {
        margin-left: auto;
        margin-right: auto;
    }
}